h4{
    font-size: large;
    color: rgb(6, 40, 143);
    
}

input{
   
    text-align: center;
    display: block;
    width: 293px;
   background-color: moccasin;
}
label{
    color: black;
}
button{

    text-align: center;
    color: rgb(139, 9, 35);
    
    height: 30px;
    width: 120px;
    
}
div{
    font-size: large;
    color: crimson;
}


